.content {
    display: flex;
    margin: 60px;
}

.left, .right {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content p {
    padding: 50px;
    word-wrap: break-word;
    word-spacing: 5px;
    font-weight: bolder;
}

.content img {
    max-width: 100%;
    height: 700px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

@media (max-width: 900px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .left, .right {
        width: 100%;
        margin-bottom: 20px;
    }
}
.right-text{
    display: flex;
    justify-content: right;
    padding-top: 250px;
}.right-text h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff; }
    @media (max-width: 540px) {
      .right-text h1 {
        font-size: 30px;
        color: black; }
        .right-text{
            display: block;
            padding-top: 250px;
        }
    
    }