/*base*/
body {
    line-height: 1.7;
    color: darken($gray-3, 20%);
    font-weight: 300;
    font-size: 16px;
}

::-moz-selection {
    background: $black;
    color: $white;
}

::selection {
    background: $black;
    color: $white;
}

a {
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

.text-black {
    color: $black;
}

.site-wrap {
    &:before {
        transition: .3s all ease-in-out;
        background: rgba(0, 0, 0, .6);
        content: "";
        position: absolute;
        z-index: 2000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }

    .offcanvas-menu & {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        overflow: hidden;

        &:before {
            opacity: 1;
            visibility: visible;
        }
    }
}

.btn {
    text-transform: uppercase;
    position: relative;
    transition: .2s all ease-in-out!important;
    top: 0;
    letter-spacing: .05em;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    box-shadow: none!important;
}

.btn-secondary {
    background-color: lighten($secondary, 45%);
    border-color: lighten($secondary, 45%);
    color: $black;
}

.btn-sm {
    font-size: 14px!important;
    padding: 10px 20px!important;
}

.btn-primary {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .2em;
}

.btn:hover {
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, .9)!important;
    top: -2px;
}

.form-control {
    height: 43px;
}

.form-control:active,
.form-control:focus {
    border-color: $primary;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    box-shadow: none!important;
}
.containerr{
	float: r;
}
.site-section {
    padding: 2.5em 0;
}

@media (min-width: 48em) {
    .site-section {
        padding: 5em 0;
    }
}

.site-section-sm {
    padding: 4em 0;
}

.site-section-heading {
    font-size: 30px;
    color: $gray-1;
    position: relative;
}

.site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: $primary;
}

.site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: $primary;
}

.border-top {
    border-top: 1px solid $gray-4!important;
}

.site-footer {
    padding: 4em 0;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer ul li a {
    color: $gray-2;
}

.site-footer ul li a:hover {
    color: $primary;
}

.site-footer .footer-heading {
    font-size: 20px;
    color: $gray-1;
}



/*siteblock*/



.site-blocks-cover {
	margin-top: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh - 174px);
}

.site-blocks-cover h1 {
    font-size: 30px;
    font-weight: 900;
    color: $black;
}

@media (min-width: 48em) {
    .site-blocks-cover h1 {
        font-size: 50px;
    }
}

.site-blocks-cover p {
    color: lighten($black, 20%);
    font-size: 20px;
    line-height: 35px;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}

.site-blocks-1 {
    border-bottom: 1px solid $gray-4;
}

.site-blocks-1 .divider:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 10px;
    background: $gray-4;
}

.site-blocks-1 .divider:last-child:after {
    display: none;
}

.site-blocks-1 .icon span {
    position: relative;
    color: $primary;
    top: -10px;
    font-size: 50px;
    display: inline-block;
}

.site-blocks-1 .text h2 {
    color: $gray-1;
    letter-spacing: .05em;
    font-size: 18px;
}

.site-blocks-1 .text p:last-child {
    margin-bottom: 0;
}

.site-blocks-2 .block-2-item:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.site-blocks-2 .block-2-item .image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.site-blocks-2 .block-2-item .image img {
    margin-bottom: 0;
    transition: .3s all ease-in-out;
}

.site-blocks-2 .block-2-item .text {
    z-index: 2;
    bottom: 0;
    padding-left: 20px;
    position: absolute;
    width: 100%;
}

.site-blocks-2 .block-2-item .text > span,
.site-blocks-2 .block-2-item .text h3 {
    color: $white;
}

.site-blocks-2 .block-2-item .text > span {
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: 900;
}

.site-blocks-2 .block-2-item .text h3 {
    font-size: 40px;
}

.site-blocks-2 .block-2-item:hover .image img {
    transform: scale(1.1);
}

.block-3 .owl-stage {
    padding-top: 40px;
    padding-bottom: 40px;
}

.block-3 .owl-nav {
    position: relative;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.block-3 .owl-nav .owl-prev,
.block-3 .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: $gray-2;
}

.block-3 .owl-nav .owl-prev:hover,
.block-3 .owl-nav .owl-prev:active,
.block-3 .owl-nav .owl-next:hover,
.block-3 .owl-nav .owl-next:active {
    color: $gray-1;
}

.block-3 .owl-nav .owl-prev.disabled,
.block-3 .owl-nav .owl-next.disabled {
    opacity: .2;
}

.block-4 {
    box-shadow: 0 0 30px -10px rgba(0,0,0,.1);
    background: $white;
}

.block-4 .block-4-text h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.block-5 ul,
.block-5 li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.block-5 li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    color: $gray-1;
}

.block-5 li:before {
    top: 0;
    font-family: "icomoon";
    content: "";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: $primary;
}

.block-5 li.address:before {
    content: "\e8b4";
}

.block-5 li.email:before {
    content: "\f0e0";
}

.block-5 li.phone:before {
    content: "\f095";
}

.block-6 img {
    display: block;
}

.block-6 h3 {
    font-size: 18px;
}

.block-6 p {
    color: lighten($gray-2, 10%);
}

.block-7 .form-group {
    position: relative;
}

.block-7 .form-control {
    padding-right: 96px;
}

.block-7 .btn {
    position: absolute;
    width: 80px;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
}

.block-8 .post-meta {
    color: $gray-3;
}

.block-8 .block-8-sep {
    margin-left: 10px;
    margin-right: 10px;
}

.site-blocks-table {
    overflow: auto;
}

.site-blocks-table .product-thumbnail {
    width: 200px;
}

.site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 1px!important;
    vertical-align: middle;
    color: $gray-900;
    font-size: 18px;
}

.site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: $gray-900;
}

.site-blocks-table tbody tr:first-child td {
    border-top: 1px solid $primary!important;
}

.site-block-order-table th {
    border-top: none!important;
    border-bottom-width: 1px!important;
}

.site-block-order-table td,
.site-block-order-table th {
    color: $black;
}

.site-block-top-search {
    position: relative;
}

.site-block-top-search .icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.site-block-top-search input {
    padding-left: 40px;
    transition: .3s all ease-in-out;
}

.site-block-top-search input:focus,
.site-block-top-search input:active {
    padding-left: 25px;
}

.site-block-27 ul,
.site-block-27 li {
    padding: 0;
    margin: 0;
}

.site-block-27 li {
    display: inline-block;
    margin-bottom: 4px;
}

.site-block-27 li a,
.site-block-27 li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.site-block-27 li.active a,
.site-block-27 li.active span {
    background: $primary;
    color: $white;
    border: 1px solid transparent;
}

#slider-range {
    height: 8px;
}

#slider-range .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none!important;
    background: $primary;
}

#slider-range .ui-slider-handle:focus,
#slider-range .ui-slider-handle:active {
    outline: none;
}

#slider-range .ui-slider-range {
    background-color: $primary;
}

.color-item .color {
    width: 14px;
    height: 14px;    
}

.block-16 figure {
    position: relative;
}

.block-16 .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 90px;
    height: 90px;
    background: $white;
    display: block;
    border-radius: 50%;
    border: none;
}

.block-16 .play-button:hover {
    opacity: 1;
}

.block-16 .play-button > span {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -45%);
}

.block-38 .block-38-header .block-38-heading {
    color: $black;
    margin: 0;
    font-weight: 300;
}

.block-38 .block-38-header .block-38-subheading {
    color: lighten($black, 70%);
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .1em;
}

.block-38 .block-38-header img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}



/*navbar*/


.site-navbar {
	background: $white;
	margin-bottom: 0px;
	z-index: 1999;
	position: relative;
}

.site-navbar.transparent {
	background: transparent;
}

.site-navbar-top {
	border-bottom: 1px solid lighten($gray-1, 80%);
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;

	@media (min-width: 48em) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.site-navbar .site-search-icon a span {
	display: inline-block;
	margin-right: 10px;

	&:hover {
		text-decoration: none;
	}
}

.site-navbar .site-logo a {
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 20px;

	&:hover {
		text-decoration: none;
	}
}

.site-navbar a {
	color: lighten($gray-1, 40%);

	&:hover {
		color: lighten($gray-1, 10%);
	}
}

.site-navbar .icon {
	font-size: 20px;
}

.site-navbar .site-top-icons ul,
.site-navbar .site-top-icons li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-navbar .site-top-icons li {
	display: flex;

	a {
		margin-right: 10px;

		&.site-cart {
			display: block;
			position: relative;

			.count {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 13px;
				width: 24px;
				height : 24px;
				line-height: 24px;
				border-radius: 50%;
				display: block;
				text-align: center;
				background: primary;
				color: white;
				transition: .2s all ease-in-out;
			}
		}

		&:hover {
			.count {
				box-shadow: 0 3px 10px -4px rgba(0,0,0,.3)!important;
			}
		}
	}

	&:last-child a {
		padding-right: 0;
	}

	.site-menu-toggle {
		font-size: 25px;
		position: relative;
		top: 2px;
		margin-left: 20px;
	}
}

.site-navbar .site-navigation.border-bottom {
	border-bottom: 1px solid lighten($gray-1, 80%)!important;
}

.site-navbar .site-navigation .site-menu {
	margin-bottom: 0;

	.active > a {
		color: $primary;
	}

	a {
		text-decoration: none!important;
		font-size: 15px;
		display: inline-block;

		> li {
			display: inline-block;
			padding: 10px 5px;

			> a {
				padding: 10px 10px;
				text-transform: uppercase;
				letter-spacing: .05em;
				color: $gray-1;
				font-size: 15px;
				text-decoration: none!important;

				&:hover {
					color: $primary;
				}
			}
		}

		.has-children {
			position: relative;

			> a {
				position: relative;
				padding-right: 20px;

				&:before {
					position: absolute;
					content: "\e313";
					font-size: 16px;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					font-family: 'icomoon';
				}
			}

			.dropdown {
				visibility: hidden;
				opacity: 0;
				top: 100%;
				position: absolute;
				text-align: left;
				border-top: 2px solid $primary;
				box-shadow: 0 0px 4px 0px rgba(0,0,0,.05);
				border-left: 1px solid $gray-4;
				border-right: 1px solid $gray-4;
				border-bottom: 1px solid $gray-4;
				padding: 0px 0;
				margin-top: 20px;
				margin-left: 0px;
				background: $white;
				transition: 0.2s 0s;

				a {
					font-size: 16px;
					text-transform: none;
					letter-spacing: normal;
					transition: 0s all;
				}

				.active > a {
					color: $primary!important;
				}

				> li {
					list-style: none;
					padding: 0;
					margin: 0;
					min-width: 200px;

					> a {
						padding: 9px 20px;
						display: block;

						&:hover {
							background: lighten($gray-4, 2%);
							color: $gray-1;
						}
					}

					&.has-children {
						> a {
							&:before {
								content: "\e315";
								right: 20px;
							}
						}

						> .dropdown,
						> ul {
							left: 100%;
							top: 0;
						}

						&:hover, &:active, &:focus {
							> a {
								background: lighten($gray-4, 2%);
								color: $gray-1;
							}
						}
					}
				}
			}

			a {
				text-transform: uppercase;
			}

			&:hover, &:focus, &:active {
				> a {
					color: $primary;
				}
			}

			&:hover, &:focus, &:active {
				cursor: pointer;

				> .dropdown {
					transition-delay: 0s;
					margin-top: 0px;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

/* Mobile menu */
.site-mobile-menu {
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 2000;
	padding-top: 20px;
	background: $white;
	height: calc(100vh);
	transform: translateX(110%);
	box-shadow: -10px 0 20px -10px rgba(0,0,0,.1);
	transition: .3s all ease-in-out;

	.offcanvas-menu & {
		transform: translateX(0%);
	}

	.site-mobile-menu-header {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		
		.site-mobile-menu-close {
			float: right;
			margin-top: 8px;
			
			span {
				font-size: 40px;
				display: inline-block;
				padding-left: 10px;
				padding-right: 10px;
				line-height: 1;
				cursor: pointer;
				transition: .3s all ease;

				&:hover {
					color: $gray-1;
				}
			}
		}
		
		.site-mobile-menu-logo {
			float: left;
			margin-top: 10px;
			margin-left: 20px;
			
			a {
				display: inline-block;
				text-transform: uppercase;
				color: $gray-1;
				letter-spacing: .2em;
				font-size: 20px;
				padding-left: 10px;
				padding-right: 10px;
				border: 2px solid $gray-1;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	
	.site-mobile-menu-body {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: relative;
		padding: 20px;
		height: calc(100vh - 52px);
		padding-bottom: 150px;
	}
	
	.site-nav-wrap {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		
		a {
			padding: 10px 20px;
			display: block;
			position: relative;
			color: $gray-900;
			
			&:hover {
				color: $primary;
			}
		}
		
		li {
			position: relative;
			display: block;
			
			&.active {
				> a {
					color: $primary;
				}
			}
		}
		
		.arrow-collapse {
			position: absolute;
			right: 0px;
			top: 10px;
			z-index: 20;
			width: 36px;
			height: 36px;
			text-align: center;
			cursor: pointer;
			border-radius: 50%;
			
			&:hover {
				background: $gray-100;
			}
			
			&:before {
				font-size: 12px;
				z-index: 20;
				font-family: "FontAwesome";
				content: "\f078";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-180deg);
				transition: .3s all ease;
			}
			
			&.collapsed {
				&:before {
					transform: translate(-50%, -50%);
				}
			}
		}
		
		> li {
			display: block;
			position: relative;
			float: left;
			width: 100%;
			
			> a {
				padding-left: 20px;
				font-size: 20px;
			}
			
			> ul {
				padding: 0;
				margin: 0;
				list-style: none;
				
				> li {
					display: block;
					
					> a {
						padding-left: 40px;
						font-size: 16px;
					}
					
					> ul {
						padding: 0;
						margin: 0;
						
						> li {
							display: block;
							
							> a {
								font-size: 16px;
								padding-left: 60px;
							}
						}
					}
				}
			}
		}
	}
}
